.container {
  height: 40rem;
  margin: auto;
  position: relative;
  width: 60rem;
  -webkit-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
}

.moon {
  background-color: currentColor;
  position: relative;
  left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 0 50px 3px rgba(229, 229, 229, 0.3), 0 0 50px 2px rgba(229, 229, 229, 0.3), 5px 0 50px 3px rgba(229, 229, 229, 0.3), 0px 0 15px 2px rgba(229, 229, 229, 0.3);
          box-shadow: 5px 0 50px 3px rgba(229, 229, 229, 0.3), 0 0 50px 2px rgba(229, 229, 229, 0.3), 5px 0 50px 3px rgba(229, 229, 229, 0.3), 0px 0 15px 2px rgba(229, 229, 229, 0.3);
  top: 10%;
  left: 10vw;
  right: 0;
  bottom: 0;
  margin: auto;
}

.star-1 {
  position: relative;
  background-color: #fffdfd;
  top: 50px;
  left: 40%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px #fffdfd, -70px 150px 1px 0 #fffdfd, 290px 150px 1px -1px #fffdfd, -90px 100px 1px -1px #9dbeea, 270px 10px 1px 0.11px #fffdfd, 390px 80px 1px -0.6px #9dbeea, -30px 120px 3px -1px #fffdfd;
          box-shadow: 0 0 1px 1px #fffdfd, -70px 150px 1px 0 #fffdfd, 290px 150px 1px -1px #fffdfd, -90px 100px 1px -1px #9dbeea, 270px 10px 1px 0.11px #fffdfd, 390px 80px 1px -0.6px #9dbeea, -30px 120px 3px -1px #fffdfd;
  -webkit-animation: pulsate 5s ease;
          animation: pulsate 5s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cauldron {
  height: 10.5rem;
  left: 19rem;
  overflow: hidden;
  position: absolute;
  top: 23.25rem;
  width: 14rem;
}

.cauldron-body {
  background: #2d4158;
  border-radius: 50%;
  bottom: 0.25rem;
  height: 12rem;
  position: absolute;
  width: 14rem;
  z-index: 4;
}

.cauldron-brim {
  background: #2d4158;
  height: 1.5rem;
  position: absolute;
  z-index: 4;
}
.cauldron-brim.-top {
  border-radius: 1.5rem;
  top: 0rem;
  width: 100%;
}
.cauldron-brim.-bottom {
  border-radius: 50%;
  height: 2rem;
  left: 0.65rem;
  top: 0.5rem;
  width: 90%;
}

.cauldron-leg {
  background-color: #2d4158;
  border-top-right-radius: 50%;
  border-top-left-radius: 80%;
  bottom: -1.5rem;
  height: 7rem;
  position: absolute;
  width: 2rem;
}
.cauldron-leg.-left {
  left: 1rem;
  -webkit-transform: rotate(160deg) skewX(-30deg) scale(1, 0.466);
          transform: rotate(160deg) skewX(-30deg) scale(1, 0.466);
}
.cauldron-leg.-right {
  right: 1rem;
  -webkit-transform: rotate(120deg) skewX(-30deg) scale(1, 0.466);
          transform: rotate(120deg) skewX(-30deg) scale(1, 0.466);
}
.cauldron-leg.-small {
  right: 3rem;
  -webkit-transform: rotate(120deg) skewX(-30deg) scale(1, 0.466);
          transform: rotate(120deg) skewX(-30deg) scale(1, 0.466);
}

.goo {
  -webkit-animation: goo-bob 1.5s infinite;
          animation: goo-bob 1.5s infinite;
  border-radius: 50%;
  position: absolute;
}
.goo.-red {
  background: #e85256;
}
.goo.-green {
  background: #66cc66;
}
.goo.-r-left {
  height: 5rem;
  right: 30rem;
  top: 21.5rem;
  width: 5rem;
}
.goo.-r-right {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  height: 3.5rem;
  right: 28rem;
  top: 22.5rem;
  width: 3.5rem;
}
.goo.-g-right {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  height: 4rem;
  left: 22rem;
  top: 22rem;
  width: 4rem;
}
.goo.-g-left {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  height: 2.5rem;
  left: 20.25rem;
  top: 22.5rem;
  width: 2.5rem;
}
.goo.-bottom-left {
  bottom: 0;
  height: 3rem;
  width: 3rem;
}

.bottom-goo {
  position: absolute;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  bottom: 0;
  z-index: 4;
}
.bottom-goo.-green {
  background: #66cc66;
}
.bottom-goo.-red {
  background: #e85256;
}
.bottom-goo.-g-right {
  height: 2rem;
  left: 2.5rem;
  width: 4rem;
}
.bottom-goo.-g-left {
  border-bottom-left-radius: 4rem;
  height: 0.55rem;
  bottom: 6.25rem;
  left: 17rem;
  width: 7rem;
}
.bottom-goo.-r-middle {
  height: 1.5rem;
  left: 5.8rem;
  width: 3rem;
}
.bottom-goo.-r-line {
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  height: 0.55rem;
  bottom: 6.25rem;
  left: 24.25rem;
  width: 5rem;
}

.goo-drip {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: absolute;
  width: 1.25rem;
  z-index: 4;
}
.goo-drip.-green {
  -webkit-animation: drip-green 2s ease-in infinite;
          animation: drip-green 2s ease-in infinite;
  background: #66cc66;
  height: 1.5rem;
  left: 4.5rem;
}
.goo-drip.-red {
  background: #e85256;
}
.goo-drip.-right {
  height: 3.5rem;
  right: 2.5rem;
}
.goo-drip.-left {
  -webkit-animation: drip-red 2s ease-in infinite;
          animation: drip-red 2s ease-in infinite;
  height: 2.5rem;
  right: 4.5rem;
}

.goo-drop {
  border-radius: 50%;
  position: absolute;
}
.goo-drop.-green {
  -webkit-animation: drop 1.5s ease-in infinite;
          animation: drop 1.5s ease-in infinite;
  background: #66cc66;
  height: 1rem;
  top: 0rem;
  width: 1.2rem;
}
.goo-drop.-red {
  background: #e85256;
  height: 1.75rem;
  top: 4.5rem;
  right: 0;
  width: 1.2rem;
}
.goo-drop.-left {
  -webkit-animation: drop 1.5s ease-in infinite;
          animation: drop 1.5s ease-in infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 0rem;
}

.bubble {
  -webkit-animation: bubble-float 5s infinite, disappear 5s infinite;
          animation: bubble-float 5s infinite, disappear 5s infinite;
  border-radius: 50%;
  position: absolute;
  top: 25rem;
  z-index: 3;
}
.bubble.-green {
  background: #66cc66;
  height: 1.5rem;
  left: 23rem;
  width: 1.5rem;
}
.bubble.-green-2 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  background: #66cc66;
  height: 0.75rem;
  left: 24rem;
  width: 0.75rem;
}
.bubble.-yellow {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background: #ffd267;
  height: 3rem;
  left: 24.5rem;
  width: 3rem;
}
.bubble.-red {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background: #e85256;
  height: 1rem;
  left: 27.5rem;
  width: 1rem;
}

.cat {
  bottom: 6.25rem;
  height: 15rem;
  position: absolute;
  left: 29.5rem;
  width: 15rem;
}

.cat-body {
  background: black;
  bottom: 0;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  height: 5rem;
  position: absolute;
  right: 5.5rem;
  width: 5rem;
}

.cat-head {
  background: black;
  border-top-left-radius: 4.5rem;
  border-top-right-radius: 4.5rem;
  bottom: 3rem;
  height: 4rem;
  position: absolute;
  right: 6rem;
  width: 4rem;
}

.cat-pupil {
  background: #fff;
  border-radius: 50%;
  height: 0.6rem;
  position: absolute;
  top: 1.25rem;
  width: 0.6rem;
}
.cat-pupil.-left {
  left: 1.2rem;
}
.cat-pupil.-right {
  right: 1.2rem;
}

.cat-ear {
  background: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 1.5rem;
  position: absolute;
  top: -0.75rem;
  width: 1.5rem;
}
.cat-ear.-left {
  left: 0.25rem;
  -webkit-transform: rotate(340deg);
          transform: rotate(340deg);
}
.cat-ear.-right {
  right: 0.25rem;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.cat-tail {
  background: black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  bottom: 0;
  height: 0.5rem;
  left: 1rem;
  position: absolute;
  width: 4rem;
}

@-webkit-keyframes goo-bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes goo-bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bubble-float {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1rem, -7rem);
            transform: translate(1rem, -7rem);
  }
  100% {
    -webkit-transform: translate(-0.75rem, -9rem);
            transform: translate(-0.75rem, -9rem);
  }
}
@keyframes bubble-float {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1rem, -7rem);
            transform: translate(1rem, -7rem);
  }
  100% {
    -webkit-transform: translate(-0.75rem, -9rem);
            transform: translate(-0.75rem, -9rem);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes drip-green {
  50% {
    height: 1.75rem;
  }
  100% {
    height: 2.5rem;
  }
}
@keyframes drip-green {
  50% {
    height: 1.75rem;
  }
  100% {
    height: 2.5rem;
  }
}
@-webkit-keyframes drip-red {
  50% {
    height: 3rem;
  }
  100% {
    height: 4rem;
  }
}
@keyframes drip-red {
  50% {
    height: 3rem;
  }
  100% {
    height: 4rem;
  }
}
@-webkit-keyframes drop {
  25% {
    height: 1.75rem;
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    height: 1.5rem;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    height: 1rem;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
}
@keyframes drop {
  25% {
    height: 1.75rem;
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    height: 1.5rem;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    height: 1rem;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
}
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 25%;
  height: 15%;
  width: 20%;
  background: #fff;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background: #2c2c2c;
  -webkit-animation: blink 4s infinite ease-in;
          animation: blink 4s infinite ease-in;
}
@-webkit-keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.eye--left {
  left: 20%;
}
.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 20%;
}
.eye--right::before {
  left: -5%;
}

.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 50%;
  background: #2c2c2c;
  border-radius: 50%;
  -webkit-animation: look-around 4s infinite;
          animation: look-around 4s infinite;
}
@-webkit-keyframes look-around {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  5% {
    -webkit-transform: translate(50%, -25%);
            transform: translate(50%, -25%);
  }
  10% {
    -webkit-transform: translate(50%, -25%);
            transform: translate(50%, -25%);
  }
  15% {
    -webkit-transform: translate(-100%, -25%);
            transform: translate(-100%, -25%);
  }
  20% {
    -webkit-transform: translate(-100%, -25%);
            transform: translate(-100%, -25%);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes look-around {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  5% {
    -webkit-transform: translate(50%, -25%);
            transform: translate(50%, -25%);
  }
  10% {
    -webkit-transform: translate(50%, -25%);
            transform: translate(50%, -25%);
  }
  15% {
    -webkit-transform: translate(-100%, -25%);
            transform: translate(-100%, -25%);
  }
  20% {
    -webkit-transform: translate(-100%, -25%);
            transform: translate(-100%, -25%);
  }
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.eye--left .eye-pupil {
  right: 30%;
}
.eye--right .eye-pupil {
  left: 30%;
}
.eye-pupil::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: #fff;
}

@media screen and (min-width: 760px) and (max-width: 960px) {
  /*To ensure on mobile screens below 900px width (this includes one plus phones) that relevant components of 
  the site are displayed with the best dimensions for the smaller devices*/
  .container {
    height: 40rem;
    margin: auto;
    position: relative;
    width: 60rem;
    -webkit-transform: scale(0.8) translate(-280px, 0px);
            transform: scale(0.8) translate(-280px, 0px);
  }
  .goo {
    -webkit-animation: goo-bob 1.5s infinite;
            animation: goo-bob 1.5s infinite;
    border-radius: 50%;
    position: absolute;
    left: 55%;
  }
  .goo.-red {
    background: #e85256;
  }
  .goo.-green {
    background: #66cc66;
  }
  .goo.-r-left {
    height: 5rem;
    right: 30rem;
    top: 21.5rem;
    width: 5rem;
  }
  .goo.-r-right {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    height: 3.5rem;
    right: 28rem;
    top: 22.5rem;
    width: 3.5rem;
  }
  .goo.-g-right {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    height: 4rem;
    left: 22rem;
    top: 22rem;
    width: 4rem;
  }
  .goo.-g-left {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    height: 2.5rem;
    left: 20.25rem;
    top: 22.5rem;
    width: 2.5rem;
  }
  .goo.-bottom-left {
    bottom: 0;
    height: 3rem;
    width: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 760px) {
  /*To ensure on mobile screens below 900px width (this includes one plus phones) that relevant components of 
  the site are displayed with the best dimensions for the smaller devices*/
  .container {
    height: 40rem;
    margin: auto;
    left: 20vw;
    position: relative;
    width: 60rem;
    -webkit-transform: scale(0.8) translate(-280px, 0px);
            transform: scale(0.8) translate(-280px, 0px);
  }
  .goo {
    -webkit-animation: goo-bob 1.5s infinite;
            animation: goo-bob 1.5s infinite;
    border-radius: 50%;
    position: absolute;
    left: 65%;
  }
  .goo.-red {
    background: #e85256;
  }
  .goo.-green {
    background: #66cc66;
  }
  .goo.-r-left {
    height: 5rem;
    right: 30rem;
    top: 21.5rem;
    width: 5rem;
  }
  .goo.-r-right {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    height: 3.5rem;
    right: 28rem;
    top: 22.5rem;
    width: 3.5rem;
  }
  .goo.-g-right {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    height: 4rem;
    left: 22rem;
    top: 22rem;
    width: 4rem;
  }
  .goo.-g-left {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    height: 2.5rem;
    left: 20.25rem;
    top: 22.5rem;
    width: 2.5rem;
  }
  .goo.-bottom-left {
    bottom: 0;
    height: 3rem;
    width: 3rem;
  }
  .moon {
    background-color: currentColor;
    position: relative;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
            box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
    top: -30%;
    left: 10vw;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (min-width: 380px) and (max-width: 480px) {
  /*To ensure on mobile screens below 900px width (this includes one plus phones) that relevant components of 
  the site are displayed with the best dimensions for the smaller devices*/
  .container {
    height: 30rem;
    margin: auto;
    position: relative;
    width: 60rem;
    -webkit-transform: scale(0.5) translate(-720px, -19px);
            transform: scale(0.5) translate(-720px, -19px);
  }
  .moon {
    background-color: currentColor;
    position: relative;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
            box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
    top: -20vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .star-1 {
    position: relative;
    background-color: #fffdfd;
    top: 0;
    left: 40%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px 1px #fffdfd, -50px -150px 1px 0 #fffdfd, 250px -200px 1px -1px #fffdfd, -90px -100px 1px -1px #9dbeea, 150px -220px 1px 0.11px #fffdfd, 300px -170px 1px -0.6px #9dbeea;
            box-shadow: 0 0 1px 1px #fffdfd, -50px -150px 1px 0 #fffdfd, 250px -200px 1px -1px #fffdfd, -90px -100px 1px -1px #9dbeea, 150px -220px 1px 0.11px #fffdfd, 300px -170px 1px -0.6px #9dbeea;
    -webkit-animation: pulsate 5s ease;
            animation: pulsate 5s ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
@media screen and (max-width: 379px) {
  /*To ensure on mobile screens below 900px width (this includes one plus phones) that relevant components of 
  the site are displayed with the best dimensions for the smaller devices*/
  .container {
    height: 30rem;
    margin: auto;
    position: relative;
    width: 60rem;
    -webkit-transform: scale(0.4) translate(-960px, 0px);
            transform: scale(0.4) translate(-960px, 0px);
  }
  .moon {
    background-color: currentColor;
    position: relative;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
            box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0 0 10px 2px rgba(229, 229, 229, 0.3), 5px 0 10px 3px rgba(229, 229, 229, 0.3), 0px 0 3px 2px rgba(229, 229, 229, 0.3);
    top: -30vh;
    left: 10vw;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .star-1 {
    position: relative;
    background-color: #fffdfd;
    top: 0;
    left: 40%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-box-shadow: -30px -70px 1px 1px #fffdfd, -50px -200px 1px 0 #fffdfd, 250px -350px 1px -1px #fffdfd, -90px -300px 1px -1px #9dbeea, 150px -250px 1px 0.11px #fffdfd, 300px -200px 1px -0.6px #9dbeea, -30px -280px 3px -1px #fffdfd;
            box-shadow: -30px -70px 1px 1px #fffdfd, -50px -200px 1px 0 #fffdfd, 250px -350px 1px -1px #fffdfd, -90px -300px 1px -1px #9dbeea, 150px -250px 1px 0.11px #fffdfd, 300px -200px 1px -0.6px #9dbeea, -30px -280px 3px -1px #fffdfd;
    -webkit-animation: pulsate 5s ease;
            animation: pulsate 5s ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}