.deerAnimation {
  box-sizing: border-box;
  overflow: visible;
}

#deerLegRightFront,
#deerLegRightRear,
#deerLegLeftRear {
  animation-name: deerLegRightFront;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#deerLegRightFrontRaised,
#deerLegRightRearRaised,
#deerLegLeftRearRaised {
  animation-name: deerLegRightFrontRaised;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.deer1 {
  animation-name: deer1leap;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.deerBib,
.deerMuzzle,
#deerEyeRight,
#deerEyesLeft,
#deerEarLeft,
#deerEarRight,
.deerNeck {
  animation-name: deerBib;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#deerEyesLeftLeap,
.deerMuzzleLeap,
.deerNeckLeap,
.deerNeckLeapMouthExtension,
#deerEarLeap {
  animation-name: deerEyesLeftLeap;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes deerEyesLeftLeap {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: hidden;
  }
  2% {
    visibility: visible;
  }
  3% {
    visibility: visible;
  }
  5% {
    visibility: visible;
  }
  7% {
    visibility: visible;
  }
  9% {
    visibility: visible;
  }
  12% {
    visibility: visible;
  }
  15% {
    visibility: visible;
  }
  90% {
    visibility: visible;
  }
  95% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes deerBib {
  0% {
    visibility: visible;
  }
  1% {
    visibility: visible;
  }
  2% {
    visibility: hidden;
  }
  3% {
    visibility: hidden;
  }
  5% {
    visibility: hidden;
  }
  7% {
    visibility: hidden;
  }
  9% {
    visibility: hidden;
  }
  12% {
    visibility: hidden;
  }
  15% {
    visibility: hidden;
  }
  90% {
    visibility: hidden;
  }
  95% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes deerLegRightFront {
  0% {
    visibility: visible;
  }
  5% {
    visibility: hidden;
  }
  30% {
    visibility: visible;
  }
  31% {
    visibility: hidden;
  }
  33% {
    visibility: hidden;
  }
  35% {
    visibility: visible;
  }
  54% {
    visibility: visible;
  }
  55% {
    visibility: hidden;
  }
  57% {
    visibility: hidden;
  }
  59% {
    visibility: visible;
  }
  72% {
    visibility: visible;
  }
  73% {
    visibility: hidden;
  }
  74% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  85% {
    visibility: visible;
  }
  86% {
    visibility: visible;
  }
  87% {
    visibility: visible;
  }
  89% {
    visibility: visible;
  }

  96% {
    visibility: visible;
  }
  97% {
    visibility: visible;
  }
  98% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes deerLegRightFrontRaised {
  0% {
    visibility: visible;
  }

  5% {
    visibility: visible;
  }
  30% {
    visibility: hidden;
  }
  31% {
    visibility: visible;
  }
  33% {
    visibility: visible;
  }
  35% {
    visibility: hidden;
  }
  54% {
    visibility: hidden;
  }
  55% {
    visibility: visible;
  }
  57% {
    visibility: visible;
  }
  59% {
    visibility: hidden;
  }
  72% {
    visibility: hidden;
  }
  73% {
    visibility: visible;
  }
  74% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  85% {
    visibility: hidden;
  }
  86% {
    visibility: hidden;
  }
  87% {
    visibility: hidden;
  }
  89% {
    visibility: hidden;
  }

  96% {
    visibility: hidden;
  }
  97% {
    visibility: hidden;
  }
  98% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes deer1leap {
  0% {
    translate: 0px 0px;
  }
  5% {
    translate: 0px -30px;
  }
  10% {
    translate: 50px 0px;
  }
  15% {
    translate: 50px 30px;
  }

  20% {
    translate: 50px -30px;
  }
  25% {
    translate: 100px 0px;
  }
  30% {
    translate: 100px 30px;
  }

  35% {
    translate: 100px -30px;
  }
  40% {
    translate: 150px 0px;
  }
  45% {
    translate: 150px 30px;
  }

  50% {
    translate: 150px -30px;
  }
  55% {
    translate: 200px 0px;
  }
  60% {
    translate: 250px 30px;
  }

  65% {
    translate: 250px -30px;
  }
  70% {
    translate: 300px 0px;
  }
  75% {
    translate: 300px 30px;
  }

  80% {
    translate: 300px -30px;
  }
  85% {
    translate: 350px 0px;
  }
  90% {
    translate: 350px 30px;
  }

  95% {
    translate: 350px 0px;
  }
  100% {
    translate: 350px 0px;
  }
}

/*To ensure on all devices that the 3 deer are scaled and repositioned so visible*/
@media screen and (min-width: 1111px) and (max-width: 3500px) {
  .deer1 {
    -webkit-transform: translate(150px, 0px);
    -moz-transform: translate(150px, 0px);
    -ms-transform: translate(150px, 0px);
    -o-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
  }
  .deer2 {
    -webkit-transform: translate(150px, -140px) scale(0.7);
    -moz-transform: translate(150px, -140px) scale(0.7);
    -ms-transform: translate(150px, -140px) scale(0.7);
    -o-transform: translate(150px, -140px) scale(0.7);
    transform: translate(150px, -140px) scale(0.7);
  }
}
@media screen and (min-width: 602px) and (max-width: 1100px) {
  .deer1 {
    -webkit-transform: translate(200px, 0px) scale(0.7);
    -moz-transform: translate(200px, 0px) scale(0.7);
    -ms-transform: translate(200px, 0px) scale(0.7);
    -o-transform: translate(200px, 0px) scale(0.7);
    transform: translate(200px, 0px) scale(0.7);
  }
  .deer2 {
    -webkit-transform: translate(-300px, 100px) scale(0.7);
    -moz-transform: translate(-300px, 100px) scale(0.7);
    -ms-transform: translate(-300px, 100px) scale(0.7);
    -o-transform: translate(-300px, 100px) scale(0.7);
    transform: translate(-300px, 100px) scale(0.7);
  }
  .deer3 {
    -webkit-transform: translate(0px, 0px) scale(0.8);
    -moz-transform: translate(0px, 0px) scale(0.8);
    -ms-transform: translate(0px, 0px) scale(0.8);
    -o-transform: translate(0px, 0px) scale(0.8);
    transform: translate(0px, 0px) scale(0.8);
  }
}

@media screen and (max-width: 601px) {
  .deer1 {
    -webkit-transform: translate(30px, 0px) scale(0.7);
    -moz-transform: translate(30px, 0px) scale(0.7);
    -ms-transform: translate(30px, 0px) scale(0.7);
    -o-transform: translate(30px, 0px) scale(0.7);
    transform: translate(30px, 0px) scale(0.7);
  }
  .deer2 {
    -webkit-transform: translate(-500px, 100px) scale(0.7);
    -moz-transform: translate(-500px, 100px) scale(0.7);
    -ms-transform: translate(-500px, 100px) scale(0.7);
    -o-transform: translate(-500px, 100px) scale(0.7);
    transform: translate(-500px, 100px) scale(0.7);
  }

  .deer3 {
    -webkit-transform: translate(-280px, 0px) scale(0.8);
    -moz-transform: translate(-280px, 0px) scale(0.8);
    -ms-transform: translate(-280px, 0px) scale(0.8);
    -o-transform: translate(-280px, 0px) scale(0.8);
    transform: translate(-280px, 0px) scale(0.8);
  }
}
