h1 {
  display: block;
  text-align: center;
  font: size 1em;
  color: white;
  background-color: #92a8d1;
  padding: 10%;
  border: solid 3px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  border-radius: 20%;
}

img {
  display: inline-block;
  margin: 10%;
}

img:hover {
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -ms-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
}

#backbutton {
  display: block;
  position: absolute;
  height: 50px;
  width: 15%;
  background-color: gray;
  border: black 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 5% 20% 5% 80%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

.backbuttonLink {
  color: white;
}

.profileElena {
  display: flex;
  flex-direction: column;
}

.Profession {
  background-color: steelblue;
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.Likes,
.Dislikes,
.FavouriteBooks,
.FavouriteMusic .surprisingFacts {
  background-color: steelblue;
  color: white;
  display: block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}

.Likes li,
.Dislikes li,
.SurprisingFacts li,
.FavouriteBooks li,
.FavouriteMusic li {
  padding: 10px;
  text-align: center;
}

#Elena_profile_photo {
  display: block;
  margin-right: 15%;
  margin-left: 35%;
  height: 25%;
  width: 25%;
  border: solid grey 3px;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

article {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: steelblue;
  padding: 20px;
}

.midnightblue {
  background-color: midnightblue;
}

.AquamarineBlue {
  background-color: #7fffd4;
}

/*@MEDIA QUERIES*/
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other and enlarge Thomas Family photo home page */

@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  #Elena_profile_photo {
    display: block;
    margin-right: 13%;
    margin-left: 13%;
    height: 74%;
    width: 74%;
    border: solid grey 3px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    border-radius: 15%;
  }

  #ThomasFamilyIntro,
  .Profession,
  .profile,
  .photo,
  .Dislikes,
  .surprisingFacts,
  .FavouriteBooks,
  .FavouriteMusic,
  .blogDiv {
    font-size: small;
  }
}
