.Profession {
  background-color: steelblue;
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.Likes,
.Dislikes,
.FavouriteBooks,
.FavouriteMusic {
  background-color: steelblue;
  color: white;
  display: block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}

.surprisingFacts {
  background-color: steelblue;
  color: white;
  display: inline-block;
  margin: 5% 20% 5% 20%;
  padding: 5%;
  list-style-type: none;
  text-align: center;
}

/*@MEDIA QUERIES*/
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other and enlarge Thomas Family photo home page */

@media screen and (max-width: 600px) {
  #Bernard_profile_photo,
  #Jill_profile_photo,
  #Elena_profile_photo,
  #Harry_profile_photo,
  #Lennie_profile_photo {
    display: block;
    margin-right: 13%;
    margin-left: 13%;
    height: 74%;
    width: 74%;
    border: solid grey 3px;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    border-radius: 15%;
  }
}
