:root {
  --chart-line-color: black;
  --chart-x-color: white;
  --black: #2d2929;
  --white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.chartWrapper {
  display: grid;
  justify-content: center;
  grid-column-gap: 2rem;
  grid-template-columns: 30% auto 30%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.chartWrapper .chartY {
  display: grid;
  grid-row-gap: 1rem;
}

.chartY {
  font-size: 1rem;
  margin-left: 30%;
}

/*CUSTOM VARIABLES HERE*/

.chartWrapper .chartX {
  position: relative;
  width: 23px;
  border: 4px solid var(--chart-line-color);
  background: #d19b2f;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.chartWrapper .chartX1 {
  position: relative;
  width: 55px;
  height: 0%;
  background: #66023c;
  overflow: hidden;
}

.chartLabels {
  margin-top: 50%;
  font-size: 12px;
  margin-left: 5%;
  font-weight: normal;
  background-color: #d19b2f;
  border: solid 2px black;
  padding-bottom: 0%;
}

@media screen and (min-width: 481px) and (max-width: 902px) {
  .chartWrapper {
    display: grid;
    justify-content: center;
    grid-column-gap: 3rem;
    grid-template-columns: 70% auto 70%;
    margin-top: -50%;
    margin-bottom: -50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  .chartLabels {
    font-size: 20px;
    padding: 15%;
  }

  .chartY {
    font-size: 1.5rem;
    margin-left: 30%;
  }
}

@media screen and (max-width: 480px) {
  /*To ensure on mobile screens below 900px width (this includes one plus phones) that relevant components of 
  the site are displayed with the best dimensions for the smaller devices*/
  .chartWrapper {
    display: grid;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-template-columns: 40% 20% 40%;
    margin-top: 30%;
    margin-bottom: -50%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }

  .chartY {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  .chartX {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}
