.Profession {
  background-color: steelblue;
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.Likes,
.Dislikes,
.FavouriteBooks,
.FavouriteMusic {
  background-color: steelblue;
  color: white;
  display: block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}

.surprisingFacts {
  background-color: steelblue;
  color: white;
  display: inline-block;
  margin: 5% 20% 5% 20%;
  padding: 5%;
  list-style-type: none;
  text-align: center;
}
