.pyro {
  -webkit-transform: scale(90%) translate(0px, 150px);
  -moz-transform: scale(90%) translate(0px, 150px);
  -ms-transform: scale(90%) translate(0px, 150px);
  -o-transform: scale(90%) translate(0px, 150px);
  transform: scale(90%) translate(0px, 150px);
}

.FireworkContainer {
  background-color: black;
  height: auto;
  text-align: center;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 10%;
  padding-right: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: Calibri, Trebuchet MS, sans-serif;
  overflow: hidden;
  border: #b55b4b 12px solid;
}

.FireworkContainer .pyro > .before,
.FireworkContainer .pyro > .after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.FireworkContainer .pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: -241px -137.6666666667px hsl(195, 100%, 50%),
      -171px 71.3333333333px hsl(162, 100%, 50%),
      195px -271.6666666667px hsl(47, 100%, 50%),
      -173px -260.6666666667px hsl(51, 100%, 50%),
      92px -5.6666666667px hsl(219, 100%, 50%),
      -141px -184.6666666667px hsl(65, 100%, 50%),
      162px -409.6666666667px hsl(293, 100%, 50%),
      202px -300.6666666667px hsl(205, 100%, 50%),
      -141px -191.6666666667px hsl(260, 100%, 50%),
      -104px -220.6666666667px hsl(97, 100%, 50%),
      -99px 14.3333333333px hsl(343, 100%, 50%),
      -37px -40.6666666667px hsl(345, 100%, 50%),
      -98px -401.6666666667px hsl(18, 100%, 50%),
      108px -93.6666666667px hsl(115, 100%, 50%),
      177px -390.6666666667px hsl(76, 100%, 50%),
      -41px -293.6666666667px hsl(172, 100%, 50%),
      -217px -117.6666666667px hsl(208, 100%, 50%),
      -103px -161.6666666667px hsl(170, 100%, 50%),
      -12px -118.6666666667px hsl(23, 100%, 50%),
      -175px 10.3333333333px hsl(271, 100%, 50%),
      -60px -410.6666666667px hsl(248, 100%, 50%),
      -242px -222.6666666667px hsl(319, 100%, 50%),
      2px -288.6666666667px hsl(340, 100%, 50%),
      167px 21.3333333333px hsl(158, 100%, 50%),
      142px -411.6666666667px hsl(301, 100%, 50%),
      76px -63.6666666667px hsl(355, 100%, 50%),
      155px -342.6666666667px hsl(66, 100%, 50%),
      58px -297.6666666667px hsl(9, 100%, 50%),
      -165px -345.6666666667px hsl(211, 100%, 50%),
      29px -19.6666666667px hsl(46, 100%, 50%),
      -216px 71.3333333333px hsl(156, 100%, 50%),
      -107px -189.6666666667px hsl(308, 100%, 50%),
      -87px -153.6666666667px hsl(294, 100%, 50%),
      -228px -277.6666666667px hsl(88, 100%, 50%),
      -118px -65.6666666667px hsl(339, 100%, 50%),
      3px -244.6666666667px hsl(323, 100%, 50%),
      -81px -73.6666666667px hsl(31, 100%, 50%),
      -129px -343.6666666667px hsl(94, 100%, 50%),
      -201px 72.3333333333px hsl(357, 100%, 50%),
      245px -132.6666666667px hsl(341, 100%, 50%),
      177px -316.6666666667px hsl(8, 100%, 50%),
      -224px -306.6666666667px hsl(349, 100%, 50%),
      233px -24.6666666667px hsl(169, 100%, 50%),
      178px -144.6666666667px hsl(232, 100%, 50%),
      -248px -43.6666666667px hsl(196, 100%, 50%),
      -197px -46.6666666667px hsl(338, 100%, 50%),
      -132px -2.6666666667px hsl(34, 100%, 50%),
      50px -70.6666666667px hsl(42, 100%, 50%),
      -47px 31.3333333333px hsl(355, 100%, 50%),
      81px -320.6666666667px hsl(42, 100%, 50%),
      233px -83.6666666667px hsl(36, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.red {
  fill: #aa1231;
  animation: 0.6s red-flash ease-in-out infinite;
}
@keyframes red-flash {
  40% {
    fill: #ea385c;
  }
  80% {
    fill: #aa1231;
  }
}

.gold-lt {
  fill: #c1881c;
  animation: 0.6s gold-lt-flash ease-in-out infinite;
}
@keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }
  80% {
    fill: #c1881c;
  }
}

.blue-lt {
  fill: #1f3e64;
  animation: 0.6s blue-lt-flash ease-in-out infinite;
}
@keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }
  80% {
    fill: #1f3e64;
  }
}

.blue-dk {
  fill: #0f1f2f;
  animation: 0.6s blue-dk-flash ease-in-out infinite;
}
@keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }
  80% {
    fill: #0f1f2f;
  }
}

.gold-dk {
  fill: #69512a;
  animation: 0.6s gold-dk-flash ease-in-out infinite;
}
@keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }
  80% {
    fill: #69512a;
  }
}

.g1 {
  animation-delay: 0s;
}

.g2 {
  animation-delay: 0.4s;
}

.g3 {
  animation-delay: 0.8s;
}
/* 
.earth {
  position: "relative";
  background-color: #682702;
  height: 20%;
  margin-top: 0%;
} */

@media screen and (min-width: 300px) and (max-width: 401px) {
  .pyro {
    padding-top: 30%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
