.October2024header {
  display: block;
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  width: 100vw;
  height: 70vh;
  position: absolute;
  background-color: #cc8014;
}

.LinkOctober2024 {
  color: #f7ca46;
  font-size: 1.2rem;
  text-decoration: underline;
}

#backbuttonOctober {
  display: block;
  position: absolute;
  height: 50px;
  width: 15%;
  background-color: #ffd437;
  border: grey 2px solid;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;
  top: 10%;
  text-decoration: underline;
  margin: 5% 25% 5% 75%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

.backbuttonLink {
  color: white;
}

.datenewsDivOctober {
  background-color: #1f3613;
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.dateOctober {
  color: white;
  border: solid 2px #757c88;
  background-color: #5b7248;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-top: 10%;
  margin-bottom: 1%;
  font-size: 1.2rem;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 100%;
}

.newsheaderOctober {
  color: white;
  border: solid 2px #757c88;
  background-color: #5b7248;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin-top: 0.3%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 100%;
}

.newsOctober {
  color: white;
  border: solid 2px #757c88;
  background-color: #5b7248;
  text-align: left;
  padding: 20px 20px 20px 20px;
  margin-top: 0%;
  margin-bottom: 0vh;
  font-size: 1rem;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 100%;
}

.SlideshowHostPhotoOctober {
  display: flex;
  flex-direction: column;
  background-color: #5b7248;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 2%;
  justify-content: center;
  text-align: center;
}

.slideshowinstructionsOctober {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 1.1rem;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  color: white;
}

.slideshowentryOctober {
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  width: 35%;
  height: auto;
  border: solid #1f3613 3px;
  margin-top: 3%;
  margin-bottom: 5%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.blogPhotoDivOctober {
  display: flex;
  flex-direction: row;
  border: solid 2px #757c88;
  background-color: #5b7248;
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 5vh;
}

.blogPhotoOctober img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  border: solid #1f3613 4px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  border-radius: 20%;
}

.octoberFigCaption {
  text-align: center;
  font-family: bold;
  color: black;
  font-size: 1rem;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  overflow-wrap: normal;
  padding-top: 5%;
}

/*To ensure on ipad screens and larger mobiles that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
@media screen and (min-width: 481px) and (max-width: 900px) {
  .blogPhotoDivOctober {
    display: flex;
    flex-direction: column;
    background-color: #5b7248;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-top: 2%;
  }
}

@media screen and (max-width: 480px) {
  .blogPhotoDivOctober {
    display: flex;
    flex-direction: column;
    background-color: #5b7248;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 2%;
  }

  .slideshowentryOctober {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    width: 65%;
    height: auto;
    border: solid #1f3613 3px;
    margin-top: 3%;
    margin-bottom: 5%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
  }

  .October2024header {
    display: block;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #cc8014;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 401px) {
  .newsheaderOctober {
    margin-top: 20%;
  }
}
