#pheasantHeader {
  box-sizing: border-box;
  overflow: hidden;
  overflow: visible;
  height: 80vh;
}

@media screen and (min-width: 1200px) {
  #pheasant1 {
    transform: translate(250px, 140px) scale(0.7);
    -webkit-transform: translate(250px, 140px) scale(0.7);
    -moz-transform: translate(250px, 140px) scale(0.7);
    -ms-transform: translate(250px, 140px) scale(0.7);
    -o-transform: translate(250px, 140px) scale(0.7);
  }
}

@media screen and (min-width: 601px) and (max-width: 901px) {
  #pheasant1 {
    transform: translate(180px, 100px) scale(0.5);
    -webkit-transform: translate(180px, 100px) scale(0.5);
    -moz-transform: translate(180px, 100px) scale(0.5);
    -ms-transform: translate(180px, 100px) scale(0.5);
    -o-transform: translate(180px, 100px) scale(0.5);
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  #pheasant1 {
    transform: translate(200px, 10%) scale(0.4);
    -webkit-transform: translate(200px, 10%) scale(0.4);
    -moz-transform: translate(200px, 10%) scale(0.4);
    -ms-transform: translate(200px, 10%) scale(0.4);
    -o-transform: translate(200px, 10%) scale(0.4);
  }
}

@media screen and (max-width: 400px) {
  #pheasant1 {
    transform: translate(170px, 9%) scale(0.4);
    -webkit-transform: translate(170px, 9%) scale(0.4);
    -moz-transform: translate(170px, 9%) scale(0.4);
    -ms-transform: translate(170px, 9%) scale(0.4);
    -o-transform: translate(170px, 9%) scale(0.4);
  }

  #pheasantHeader {
    box-sizing: border-box;
    overflow: hidden;
    overflow: visible;
    height: 90vh;
  }
}
