.mainBody {
  display: flex;
  flex-direction: column;
  background-color: #6b7a8f;
}

.gridContainer {
  display: grid;
  grid-template-columns: 35vw 35vw 35vw; /*specifies the number of columns in the grid. The fr unit allows you to set the size of a track
  as a fraction of the free space of the grid container. For example, this will set each item to one third the width of the grid container:*/
  grid-template-rows: 20vh 20vh 20vh; /*specifies the number of rows in the grid*/
  column-gap: 2vw; /*specifies the size of the gaps between the columns*/
  row-gap: 0px; /*specifies the size of the gaps between the rows*/
  padding-bottom: 25%;
}

.figApp figcaption {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  justify-content: center;
  margin-bottom: 10%;
}

.profileLink {
  color: white;
  text-decoration: underline;
}
