.SeptemberHeader2024 {
  font-size: 38px;
  font-weight: bold;
  font-family: Calibri, Trebuchet MS, sans-serif;
  color: #eec170;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 10%;
}
.septemberBackground {
  background-color: "#504F22";
}

#swaledaleSheepS1 {
  -webkit-transform: translate(-350px, -300px);
  -moz-transform: translate(-350px, -300px);
  -ms-transform: translate(-350px, -300px);
  -o-transform: translate(-350px, -300px);
  transform: translate(-350px, -300px);
  overflow: visible;
}

#swaledaleSheepS2 {
  -webkit-transform: translate(-600px, 0px);
  -moz-transform: translate(-600px, 0px);
  -ms-transform: translate(-600px, 0px);
  -o-transform: translate(-600px, 0px);
  transform: translate(-600px, 0px);
  overflow: visible;
}

#sheepAdultLambS1 {
  overflow-x: visible;
  overflow-y: visible;
}

#sheepAdultLambS2 {
  overflow-x: visible;
  overflow-y: visible;
}

.CowsAndSheep {
  margin-bottom: 15%;
  overflow: "visible";
}

.stop1 {
  stop-color: "#f4eee0";
  stop-opacity: "1";
}

.stop2 {
  stop-color: "#e9e0d4";
  stop-opacity: "1";
}

.stop3 {
  stop-color: "#3A3B3c";
  stop-opacity: "1.0";
}

.stop4 {
  stop-color: "#efefe3";
  stop-opacity: "1.0";
}

.stop5 {
  background-color: "#FEC0CB";
  stop-opacity: "1";
}

.stop6 {
  stop-color: "#efefe3";
  stop-opacity: "0.7";
}

.stop7 {
  stop-color: "#d3d3d3";
}

.stop8 {
  stop-color: "#f6f6da";
}

.stop9 {
  stop-color: "#3A3B3C";
}

#swaledaleSheep1Seyerightouter {
  -webkit-transform: "rotate(20deg,603,425)";
  -moz-transform: "rotate(20deg,603,425)";
  -ms-transform: "rotate(20deg,603,425)";
  -o-transform: "rotate(20deg,603,425)";
  transform: "rotate(20deg,603,425)";
}

#swaledaleSheep1Seyeleftouter {
  -webkit-transform: "rotate(-20deg,616,425)";
  -moz-transform: "rotate(-20deg,616,425)";
  -ms-transform: "rotate(-20deg,616,425)";
  -o-transform: "rotate(-20deg,616,425)";
  transform: "rotate(-20deg,616,425)";
}

#swaledaleSheep1Seyerightinner {
  -webkit-transform: "rotate(20deg,603,425)";
  -moz-transform: "rotate(20deg,603,425)";
  -ms-transform: "rotate(20deg,603,425)";
  -o-transform: "rotate(20deg,603,425)";
  transform: "rotate(20deg,603,425)";
}

#swaledaleSheep1Seyeleftinner {
  -webkit-transform: "rotate(-20deg,616,425)";
  -moz-transform: "rotate(-20deg,616,425)";
  -ms-transform: "rotate(-20deg,616,425)";
  -o-transform: "rotate(-20deg,616,425)";
  transform: "rotate(-20deg,616,425)";
}

#swaledaleSheepS2 {
  -webkit-transform: "translate(-300px, -120px)";
  -moz-transform: "translate(-300px, -120px)";
  -ms-transform: "translate(-300px, -120px)";
  -o-transform: "translate(-300px, -120px)";
  transform: "translate(-300px, -120px)";
}

#relocatesheephornsswaledaleSheepS2 {
  -webkit-transform: "translate(-152px, 37px)";
  -moz-transform: "translate(-152px, 37px)";
  -ms-transform: "translate(-152px, 37px)";
  -o-transform: "translate(-152px, 37px)";
  transform: "translate(-152px, 37px)";
}

#relocatefacialfeaturesswaledaleSheepS2 {
  -webkit-transform: "translate(-152px, 37px)";
  -moz-transform: "translate(-152px, 37px)";
  -ms-transform: "translate(-152px, 37px)";
  -o-transform: "translate(-152px, 37px)";
  transform: "translate(-152px, 37px)";
}

#swaledaleSheepS2eyerightouter {
  -webkit-transform: "rotate(20deg,603,425)";
  -moz-transform: "rotate(20deg,603,425)";
  -ms-transform: "rotate(20deg,603,425)";
  -o-transform: "rotate(20deg,603,425)";
  transform: "rotate(20deg,603,425)";
}

#swaledaleSheepS2eyeleftouter {
  -webkit-transform: "rotate(-20deg,616,425)";
  -moz-transform: "rotate(-20deg,616,425)";
  -ms-transform: "rotate(-20deg,616,425)";
  -o-transform: "rotate(-20deg,616,425)";
  transform: "rotate(-20deg,616,425)";
}

#swaledaleSheepS2eyerightinner {
  -webkit-transform: "rotate(20deg,603,425)";
  -moz-transform: "rotate(20deg,603,425)";
  -ms-transform: "rotate(20deg,603,425)";
  -o-transform: "rotate(20deg,603,425)";
  transform: "rotate(20deg,603,425)";
}

#swaledaleSheepS2eyeleftinner {
  -webkit-transform: "rotate(-20deg,616,425)";
  -moz-transform: "rotate(-20deg,616,425)";
  -ms-transform: "rotate(-20deg,616,425)";
  -o-transform: "rotate(-20deg,616,425)";
  transform: "rotate(-20deg,616,425)";
}

#sheepAdultLambS1 {
  -webkit-transform: "scale(50%)";
  -moz-transform: "scale(50%)";
  -ms-transform: "scale(50%)";
  -o-transform: "scale(50%)";
  transform: "scale(50%)";
}

#useLambS1 {
  -webkit-transform: "scale(2.2)";
  -moz-transform: "scale(2.2)";
  -ms-transform: "scale(2.2)";
  -o-transform: "scale(2.2)";
  transform: "scale(2.2)";
}

#heepAdultLambS2 {
  -webkit-transform: "scale(55%)";
  -moz-transform: "scale(55%)";
  -ms-transform: "scale(55%)";
  -o-transform: "scale(55%)";
  transform: "scale(55%)";
}

#useLambS2 {
  -webkit-transform: "scale(2.2)";
  -moz-transform: "scale(2.2)";
  -ms-transform: "scale(2.2)";
  -o-transform: "scale(2.2)";
  transform: "scale(2.2)";
}

@keyframes rotate-text-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    -ms-transform: translate3d(0, 200px, 0);
    -o-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }

  20%,
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}

/*@media queries for the sheep and cows*/
@media screen and (min-width: 480px) and (max-width: 900px) {
  /*To ensure on ipad screens and larger mobiles (min-width 480px, max-width 900px) that the sheep and lambs are correctly positioned*/
  #swaledaleSheepS1 {
    -webkit-transform: translate(-200px, 0px);
    -moz-transform: translate(-200px, 0px);
    -ms-transform: translate(-200px, 0px);
    -o-transform: translate(-200px, 0px);
    transform: translate(-200px, 0px);
    overflow: visible;
  }

  #swaledaleSheepS2 {
    -webkit-transform: translate(-600px, 0px);
    -moz-transform: translate(-600px, 0px);
    -ms-transform: translate(-600px, 0px);
    -o-transform: translate(-600px, 0px);
    transform: translate(-600px, 0px);
    overflow: visible;
  }
}

/*To ensure on ipad screens and larger mobiles that photos are displayed in columnar format to ensure sizing and clarity of image optimal*/
@media screen and (min-width: 481px) and (max-width: 900px) {
  .blogPhotoDivSeptember {
    display: flex;
    flex-direction: column;
    background-color: #f2e3d6;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-top: 2%;
  }

  .SeptemberheaderDisplay {
    background-color: "#98964D";
    padding-bottom: 15%;
    border: solid #eec170 8px;
    padding-bottom: 20%;
  }

  .slideshowentrySeptember {
    display: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    pointer-events: none;
    width: 80%;
    height: auto;
    border: solid #757c88 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    border-radius: 80%;
  }

  #swaledaleSheepS1 {
    -webkit-transform: scale(120%) translate(-350px, -300px);
    -moz-transform: scale(120%) translate(-350px, -300px);
    -ms-transform: scale(120%) translate(-350px, -300px);
    -o-transform: scale(120%) translate(-350px, -300px);
    transform: scale(120%) translate(-350px, -300px);
    overflow: visible;
  }

  #swaledaleSheepS2 {
    -webkit-transform: scale(100%) translate(-600px, -100px);
    -moz-transform: scale(100%) translate(-600px, -100px);
    -ms-transform: scale(100%) translate(-600px, -100px);
    -o-transform: scale(100%) translate(-600px, -100px);
    transform: scale(100%) translate(-600px, -100px);
    overflow: visible;
  }
}

/*To ensure on screens less than 480px, display of all items is optimised and scaled for the smaller display.*/
@media screen and (min-width: 362px) and (max-width: 480px) {
  .SeptemberHeader {
    display: block;
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: auto;
    position: absolute;
    padding-bottom: 20%;
  }

  .SeptemberheaderDisplay {
    background-color: "#98964D";
    padding-bottom: 15%;
    border: solid #eec170 8px;
    padding-bottom: 25%;
  }

  #swaledaleSheepS1 {
    -webkit-transform: scale(120%) translate(-580px, -200px);
    -moz-transform: scale(120%) translate(-580px, -200px);
    -ms-transform: scale(120%) translate(-580px, -200px);
    -o-transform: scale(120%) translate(-580px, -200px);
    transform: scale(120%) translate(-580px, -200px);
    overflow: visible;
  }

  #swaledaleSheepS2 {
    -webkit-transform: scale(100%) translate(-600px, -100px);
    -moz-transform: scale(100%) translate(-600px, -100px);
    -ms-transform: scale(100%) translate(-600px, -100px);
    -o-transform: scale(100%) translate(-600px, -100px);
    transform: scale(100%) translate(-600px, -100px);
    overflow: visible;
  }
}

/*To ensure on screens less than 362px, display of all items is optimised and scaled for the smaller display.*/
@media screen and (max-width: 361px) {
  .SeptemberHeader2024 {
    display: block;
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: bold;
    width: 100vw;
    height: auto;
    position: absolute;
    padding-bottom: 20%;
  }

  .SeptemberheaderDisplay {
    background-color: "#98964D";
    padding-bottom: 15%;
    border: solid #eec170 8px;
    padding-bottom: 20%;
  }

  #swaledaleSheepS1 {
    -webkit-transform: scale(90%) translate(-900px, -300px);
    -moz-transform: scale(90%) translate(-900px, -300px);
    -ms-transform: scale(90%) translate(-900px, -300px);
    -o-transform: scale(90%) translate(-900px, -300px);
    transform: scale(90%) translate(-900px, -300px);
    overflow: visible;
  }

  #swaledaleSheepS2 {
    -webkit-transform: scale(100%) translate(-600px, -100px);
    -moz-transform: scale(100%) translate(-600px, -100px);
    -ms-transform: scale(100%) translate(-600px, -100px);
    -o-transform: scale(100%) translate(-600px, -100px);
    transform: scale(100%) translate(-600px, -100px);
    overflow: visible;
  }
}
